In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
cric = pd.read_csv('cric.tsv')

In [5]:
cric.head()

  Index\tSachin\tDravid\tIndia
0              0\t100\t78\t342
1               1\t11\t62\t191
2                2\t8\t85\t252
3               3\t71\t24\t307
4              4\t104\t17\t229

In [6]:
file = np.loadtxt('cric.tsv',skiprows=1)

In [7]:
file

array([[  0., 100.,  78., 342.],
       [  1.,  11.,  62., 191.],
       [  2.,   8.,  85., 252.],
       [  3.,  71.,  24., 307.],
       [  4., 104.,  17., 229.],
       [  5.,  18., 104., 246.],
       [  6.,   8.,  76., 226.],
       [  7.,  86.,  74., 288.],
       [  8.,  12.,  60., 216.],
       [  9.,  25.,  90., 304.],
       [ 10.,  56.,   6., 272.],
       [ 11.,  88.,  69., 302.],
       [ 12., 147.,  65., 312.],
       [ 13., 121., 146., 370.],
       [ 15.,  99., 110., 362.]])

In [9]:
sachinMean = file[:,1].mean()
print(sachinMean)

63.6

In [10]:
dravidMean = file[:,2].mean()
print(dravidMean)

71.06666666666666

In [11]:
indiaMean = file[:,3].mean()
print(indiaMean)

281.26666666666665

In [13]:
print('sachinMedian',np.median(file[:,1]))

sachinMedian 71.0

In [14]:
print('dravidMedian',np.median(file[:,2]))

dravidMedian 74.0

In [15]:
print('indiaMedian',np.median(file[:,3]))

indiaMedian 288.0